<script>
  const identifier = '{{process.identifier}}';
</script>



<section class='section'>
  <h1 class='title'>{{process.name}}
    <span class='tag is-primary' id='status_{{process.identifier}}_chip'>{{process.status}}</span>
  </h1>

  <div class="block">
    <button id="status_{{process.identifier}}_start" disabled="true" class="button is-success is-small" onclick="onStartProcessClicked('{{process.identifier}}')"><i class="fa-solid fa-play"></i></button>
    <button id="status_{{process.identifier}}_stop" disabled="true" class="button is-danger is-small" onclick="onStopProcessClicked('{{process.identifier}}')"><i class="fa-solid fa-stop"></i></button>
  </div>

  <div class='tabs-container'>
    <div class='tabs'>
      <ul>
        <li class='is-active'><a href='#details-tab'>Configuration</a></li>
        <li><a href='#logs-tab'>Logs</a></li>
        <li><a href='#state-tab'>State</a></li>
        <li><a href='#debug-tab'>Debug</a></li>
      </ul>
    </div>

    <div id='details-tab' class='tab-content is-hidden'>
      {{> process-details}}
    </div>

    <div id='debug-tab' class='tab-content is-hidden'>
      {{> debugging}}
    </div>
    
    <div id='state-tab' class='tab-content'>
      {{> process-states}}
    </div>

    <div id='logs-tab' class='tab-content is-hidden'>
      {{> process-logging}}
    </div>
  </div>
</section>

<script src='/scripts/api.js'></script>
<script src='/scripts/details.js'></script>
<script src='/scripts/debugging.js'></script>

