<div class='debugging'>
  <div class='columns'>
    <div class='column is-two-thirds'>
      {{#each debugEvents}}
        <div class='block'>
          <section class='hero is-small is-primary'>
            <div class='hero-body'>
              <p class='title'>{{name}}</p>
            </div>
          </section>
        </div>

        <div class="block">
          {{#each items}}

          <article class="message" id="{{name}}">
            <div class="message-header">
              <p>{{name}}</p>
              <button class='button is-small is-primary' onclick="sendDebugEvent('{{../../process.identifier}}', '{{name}}')">
                  Go
                </button>
            </div>
            <div class="message-body">
              {{description}}

              <div class="block">
                {{#each parameters}}
                  <div class='field'>
                    <label class='label'>{{name}}</label>
                    <div class='control'>
                {{#if (eq name 'attribute')}}
                <div class='select' style='width: 100%;'>
                  <select style='width: 100%;' data-name='{{name}}' data-type='{{type}}' class="debug-event-parameter">
                    {{#each ../../../definition.attributes}}
                    {{#if (eq ../type 'string')}}
                    <option value='{{key}}'>{{name}} ({{type}})</option>
                    {{else}}
                    {{#if (eq type ../type)}}
                    <option value='{{key}}'>{{name}} ({{type}})</option>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                  </select>
                </div>
                {{else}}
                <input class='input debug-event-parameter' type='text' placeholder='{{description}}' data-name='{{name}}'
                  data-type='{{type}}' />
                    {{/if}}
                  </div>
                </div>
                {{/each}}
              </div>



            </div>
          </article>
          {{/each}}
        </div>
      {{/each}}
    </div>
    <div class='column'>
      <aside class='menu'>
        {{#each debugEvents}}
          <p class='menu-label'>{{name}}</p>
          <ul class='menu-list'>
            {{#each items}}
              <li>
                <a href='#{{name}}'>
                  {{name}}
                  {{#if optional}}
                  <span class='tag'>Optional</span>
                  {{/if}}
                </a>
            </li>
            {{/each}}
          </ul>
        {{/each}}
      </aside>
    </div>
  </div>
</div>