<div class='columns'>
  <div class='column'>
    <div class='field'>
      <label class='label'>Path</label>
      <div class='control'>
        <input class='input' type='text' placeholder='Text input' value='{{definition.path}}' disabled />
      </div>
    </div>
    <div class='field'>
      <label class='label'>Name</label>
      <div class='control'>
        <input class='input' type='text' placeholder='Text input' value='{{definition.name}}' disabled />
      </div>
    </div>
    <div class='field'>
      <label class='label'>Author</label>
      <div class='control'>
        <input class='input' type='text' placeholder='Text input' value='{{definition.author}}' disabled />
      </div>
    </div>
    <div class='field'>
      <label class='label'>Description</label>
      <div class='control'>
        <textarea class='textarea is-link' placeholder='Link textarea' disabled>{{definition.description}}</textarea>
      </div>
    </div>
  </div>
  <div class='column'>
    <div class='field'>
      <label class='label'>Loaded Configuration</label>
      <div class='control'>
        <textarea class='textarea configuration' placeholder='Link textarea' disabled
          rows='15'>{{configYAML}}</textarea>
      </div>
    </div>
  </div>
</div>