<div class='columns'>
  <div class='column is-one-quarter'>
    <aside class='menu is-info'>
      <p class='menu-label'>Attributes</p>
      <ul class='menu-list '>
        {{#each states}}
        <li>
          <a onclick='selectStateAttribute("{{@key}}")' class="menu-link" id="state-menu-link-{{@key}}">
            {{@key}}
          </a>
        </li>
        {{/each}}
      </ul>
    </aside>

  </div>
  <div class='column'>
    {{#each states}}
    <div class='block state-attribute-details' id='state-attribute-{{@key}}' style='display: none;'>
      <h6 class='title is-5'>{{@key}}</h6>
      <table class='table' style='width: 100%;'>
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {{#each this}}
          <tr>
            <td width='20%'>{{@key}}</td>
            <td>{{this}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{/each}}
  </div>
</div>

<script src='/scripts/process-states.js'></script>

<script>
  function selectStateAttribute(attribute) {
    document.querySelectorAll('.state-attribute-details').forEach((detail) => {
      detail.style = 'display: none;';
    });

    document.getElementById(`state-attribute-${attribute}`).style.display = 'block';

    document.querySelectorAll('.menu-link').forEach((link) => {
      link.classList.remove('is-active');
    });

    document.getElementById(`state-menu-link-${attribute}`).classList.add('is-active');
  }
</script>